body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar .logo img {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #176B87;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a svg {
    margin-right: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #000000;
}

.sidebar nav ul li.active a {
    background-color: #64CCC5;
    font-weight: bold;
}

.sidebar nav ul li.logout a {
    background-color: #e74c3c;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .search-bar input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

header .user-info {
    display: flex;
    align-items: center;
}

header .user-info .notification-icon {
    margin-right: 20px;
    font-size: 20px;
}

header .user-info .user-name {
    margin-right: 10px;
}

header .user-info .user-balance {
    background-color: #3498db;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-section .profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.profile-section .profile-info label {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-section .profile-info .profile-item {
    display: flex;
    align-items: center;
}

.profile-section .profile-info .profile-edit {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.profile-section .profile-info .profile-edit input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.profile-section .profile-info .edit-button {
    background-color: #64CCC5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.profile-section .save-button {
    background-color: #176B87;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
